<div>
  <div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="m-0">Admin Dashboard</h2>
      <button class="btn btn-primary my-2" (click)="logout()">Logout</button>
    </div>
    <!-- Input Field -->
    <div class="card p-3 mb-4 shadow">
      <div class="row">

        <!-- WhatsApp -->
        <div class="col-12 col-md-6 mt-4">
          <label class="mb-2">Update Whatsapp Link</label>
          <input type="text" class="form-control mb-4 mb-sm-0" placeholder="Enter link" [(ngModel)]="whatsapp.url"
            name="whatsapp">
        </div>

        <div class="col-12 col-md-6 d-flex align-items-end">
          <button class="btn btn-success w-100" (click)="updateWhatsap(whatsapp)" type="button">
            Update
          </button>
        </div>
        <!-- WhatsApp-2 -->
        <div class="col-12 col-md-6 mt-4">
          <label class="mb-2">Update Whatsapp-2 Link</label>
          <input type="text" class="form-control mb-4 mb-sm-0" placeholder="Enter link" [(ngModel)]="whatsapp2.url"
            name="whatsapp">
        </div>

        <div class="col-12 col-md-6 d-flex align-items-end">
          <button class="btn btn-success w-100" (click)="updateWhatsap(whatsapp2)" type="button">
            Update
          </button>
        </div>
        <!-- WhatsApp-3 -->
        <div class="col-12 col-md-6 mt-4">
          <label class="mb-2">Update Whatsapp-3 Link</label>
          <input type="text" class="form-control mb-4 mb-sm-0" placeholder="Enter link" [(ngModel)]="whatsapp3.url"
            name="whatsapp">
        </div>

        <div class="col-12 col-md-6 d-flex align-items-end">
          <button class="btn btn-success w-100" (click)="updateWhatsap(whatsapp3)" type="button">
            Update
          </button>
        </div>

        <!-- Get Link -->
        <div class="col-12 col-md-6 mt-4">
          <label class="mb-2">Update Get Link</label>
          <input type="text" class="form-control mb-4 mb-sm-0" placeholder="Enter link" [(ngModel)]="getlink.url"
            name="getlink">
        </div>

        <div class="col-12 col-md-6 d-flex align-items-end">
          <button class="btn btn-success w-100" (click)="updateWhatsap(getlink)" type="button">
            Update
          </button>
        </div>

        <!-- Download Link -->
        <div class="col-12 col-md-6 mt-4">
          <label class="mb-2">Update Download Link</label>
          <input type="text" class="form-control mb-4 mb-sm-0" placeholder="Enter link" [(ngModel)]="download.url"
            name="download">
        </div>

        <div class="col-12 col-md-6 d-flex align-items-end">
          <button class="btn btn-success w-100" (click)="updateWhatsap(download)" type="button">
            Update
          </button>
        </div>

      </div>
    </div>

    <!-- Table -->
    <!-- <div class="card p-3 shadow">
            <h5>Data Table</h5>
            <div class="table-responsive">
                <table class="table table-bordered mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>WhatsApp</th>
                            <th>Email</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr>
                            <td>{{userProfile.name}}</td>
                            <td>
                                <span *ngFor="let item of userProfile.whatsappNumbers; let i = index">
                                    {{item.number}}{{ i < userProfile.whatsappNumbers.length - 1 ? ', ' : '' }} </span>
                            </td>
                            <td>{{userProfile.email}}</td>
                            <td>Gurugram</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div> -->
  </div>
</div>
